@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*colors*/
$primarycolor1: hsl(158, 36%, 37%);
$primarycolor2:hsl(30, 38%, 92%);
$fontsizeparagraph: 0.875rem;
$neutralcolor1:  hsl(212, 21%, 14%);
$neutralcolor2: hsl(228, 12%, 48%);
$neutralcolor3: hsl(0, 0%, 100%);
/*fonts*/
$font1:"Fraunces";
$font2:"Montserrat";

html{
    background-color: $primarycolor2;
    padding:20px;
}

main{
    background-color:$neutralcolor3 ;
    max-width: 345px;
    min-height: 375px;
    border-radius: 10px;
    padding-bottom: 15px;
}

body{
  display: flex;
  flex-direction:row;
  justify-content: center; 
  align-items: center;
}
img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  align-self: center;
}

@media (min-width: 1440px)
{ main{
  grid-template-columns: repeat(2/1fr);
}  
main{
  min-height: 300px;
  min-width: 700px;
}
img{
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 0%;
 border-top-right-radius: 0% ;
 max-width: 350px;
  min-height: 500px;
}
}

p{
  color: $neutralcolor2;  
  font-size: $fontsizeparagraph;
  font-family: $font2;
  font-weight: 500;
  padding-left: 12px;
  padding-right: 12px;
}

.item-description{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

h1{
    font-family: $font1;
    font-weight: 700;
    color: $neutralcolor1;
    padding-left: 12px;
    padding-right: 12px;
    
}

h2{
  font-family: $font1;
  font-weight: 700;
  color: $primarycolor1;
}

.price{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:flex-start;
  padding: 20px;
  gap: 7px;
}

button{
  background-color: $primarycolor1;
  font-family: $font2;
  font-weight: 500;
  padding: 10px;
  gap: 5px;
  color:white;
  border-radius: 10px;
  box-shadow:none;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: $fontsizeparagraph;
  border:none;
  display: flex;
  flex-direction: row;
}

.button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.attribution{
  position:fixed;
  bottom:0px;
 font-size: 11px; 
 text-align: center;
}
.attribution a 
{ color: hsl(228, 45%, 44%); }
  /*# sourceMappingURL=style.css.map */