@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*CSS reset by Picadelli*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*colors*/
/*fonts*/
html {
  background-color: hsl(30, 38%, 92%);
  padding: 20px;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {
  background-color: hsl(0, 0%, 100%);
  max-width: 345px;
  max-height: 600px;
  border-radius: 10px;
  padding-bottom: 15px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  align-self: center;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media (min-width: 1000px) {
  main {
    display: flex;
    flex-direction: row;
    max-height: 550px;
    max-width: 700px;
  }
  img {
    min-height: 550px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .cart {
    min-width: 23px;
    min-height: 25px;
  }
  .item-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    min-height: 500px;
  }
  .item-type {
    font-size: 1rem;
    letter-spacing: 0.5rem;
    display: flex;
    align-self: flex-start;
  }
  h1 {
    font-size: 2.3rem;
    display: flex;
    align-self: flex-start;
    line-height: 3rem;
  }
  .item-description {
    font-size: 0.95rem;
    padding: 20px;
    padding-right: 30px;
  }
  .price {
    display: flex;
    align-self: flex-start;
    justify-self: center;
    font-size: 1.3rem;
  }
}
@media (min-width: 375px) {
  .button {
    text-align: center;
  }
}
.item-information {
  padding: 15px;
}
.item-information .item-description {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-self: center;
  padding-right: 20px;
  line-height: 3.8vh;
  font-weight: 500;
}
.item-information h1 {
  font-family: "Fraunces";
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  padding-left: 12px;
  padding-right: 12px;
}
.item-information h2 {
  font-family: "Fraunces";
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}
.item-information .price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  gap: 7px;
}
.item-information .button {
  background-color: hsl(158, 36%, 37%);
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.875rem;
  color: white;
  border-radius: 10px;
  box-shadow: none;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 0.75rem;
  padding-top: 0.5rem;
  gap: 7px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-information .cart {
  max-width: 23px;
  max-height: 25px;
}

p {
  color: hsl(228, 12%, 48%);
  font-size: 0.875rem;
  font-family: "Montserrat";
  font-weight: 500;
  padding-left: 12px;
  padding-right: 12px;
}

.attribution {
  position: fixed;
  bottom: 0px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.button:focus {
  background-color: hsl(212, 21%, 14%);
}

.button:hover {
  background-color: black;
}

.button {
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */