$primarycolor1: hsl(158, 36%, 37%);
$primarycolor2:hsl(30, 38%, 92%);
$fontsizeparagraph: 14px;
$neutralcolor1:  hsl(212, 21%, 14%);
$neutralcolor2: hsl(228, 12%, 48%);
$neutralcolor3: hsl(0, 0%, 100%);
$font1-500: "Montserrat";
$font1-700: "Montserrat";
$font2-700:"Fraunces";

body{
    background-color: $primarycolor2;
}